.deleteFab{
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.deleteFab:hover{
  background-color: #FF0000 !important;
  color: #000000 !important;
}

.addFab{
  background-color: #00FF00 !important;
  color: #FFFFFF !important;
}

.addFab:hover{
  background-color: #00FF00 !important;
  color: #000000 !important;
}

.customFab {
  background-color: #003285 !important;
  color: #FFFFFF !important;
}

.customFab:hover {
  background-color: #ee0707 !important;
  color: #000000 !important;
}