.deleteFab{
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.deleteFab:hover{
  background-color: #FF0000 !important;
  color: #000000 !important;
}

.addFab{
  background-color: #00FF00 !important;
  color: #FFFFFF !important;
}

.addFab:hover{
  background-color: #00FF00 !important;
  color: #000000 !important;
}

.timerFab {
  background-color: #365E32 !important;
  color: #FFFFFF !important;
}

.timerFab:hover {
  background-color: #81A263 !important;
  color: #000000 !important;
}