body {
  background-color: #FFDA78;
}

header {
  background-color: #2A629A;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

header h1 {
  color: #FEECE2;
  font-family: "McLaren", cursive;
  font-weight: 300;
}

.container{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.timerLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.customFab {
  background-color: #003285 !important;
  color: #FFFFFF !important;
}

.startForm{
  margin: 20px;  
}

.timeDisplay{
  font-size: 50px;
}

.projectOverview{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: white;
  border-radius: 20%;
  gap: 5px;
  padding: 30px 0px;
}

.session{
  background-color: aqua;
  border-radius: 35%;
  width: 90%;
  text-align: center;
}

.sessionList{
  list-style-type: none;
  text-align: left;
  padding-left: 25%;
}


.deleteFab{
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}