.timerLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timeDisplay{
  font-size: 50px;
}


.radioContainer:hover{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.radioContainer{
  padding: 3px;
}

.selectBox{
  margin: 20px;   
}

.projectInputForm{
  margin: 20px;
}
